body {
  background-color: #000;
  margin-top: 80px;
  margin-bottom: 30%;
}

.background {
  margin-top: 1px;
}

/* Tampilan depan */

.start {
  background-color: #4bc0ee;
  width: 61%;
  height: 350px;
  border: 2px solid black;
  margin-left: 240px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 20px;
}

.start,
a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

h1 {
  color: #000;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 17px;
}

.button:hover {
  background-color: #eedf0d;
  color: white;
}

/* start game */

.container {
  width: 51%;
  height: 65%;
  border: 3px solid #fff;
  margin-left: 320px;
  margin-right: 320px;
  margin-bottom: 50px;
  padding: 20px;
  
  float: left;
}

h2 {
  color: #fff;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  margin: 0;
  padding: 0;
}
.box {
  width: 80px;
  height: 50px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #fff;
  background: rgb(4, 126, 240);
  display: inline-block;
}


section {
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
}
