  
  h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  #container-box {
    width: 550px;
    height: 440px;
    border: 1px solid #ccc;
    margin-left: 30%;
  }

  .style-box {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    float: left;
    margin: 4px;
  }