  body {
    background-color: #fff;
    padding: 20px ;
  }

  h2 {
    color: #000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .container-box {
    width: 440px;
    height: 440px;
    border: 1px solid #000;
    margin-left: 33%;
    padding: 4px 4px;
  }

  .style-box {
    background-color: blue;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    margin: 4px 4px;
    background-color: #fff;
    display: inline-block;
  }

  .baris-box {
    display: block;
  }